{%extends 'reports_home.html'%}
{%block reports%}

<style>
    @media print {
  body {
    visibility: hidden;
  }
  #prnt_cluster{
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    a{text-decoration: none;color: black;}
  }
}
</style>
<script>
    $(document).ready(function(){
        $('#cls').change(function(){
            var s=$(this).val();
            alert(s)
        })
    })
</script>
<div style="width: 100%;margin: auto;padding: 5px" id="prnt_cluster">
<p>KAMALAYAN SNA CLUSTER FIGURE</p>
<div style="padding-top:3px; width: 10%;">
       <select name="" id="" class="form-select" id="cls">
            {%for i in crw%}
            <option>{{i[0]}}</option>
            {%endfor%}
        </select>
</div>
<table class="table table-bordered table-sm table-hover">
    <thead>
        <tr style="text-align: center;">
        <th>CLUSTER</th>
        <th>NO. OF <br>VOTERS</th>
        <th>TARGET <br> 53% of 85 %</th>
        <th>TARGET <br>CAPTURED</th>
        <th>TARGET <br>UNCAPTURED</th>
        <th>BALANCE</th>
    </tr>
    </thead>

    <tbody>
{%for i in rw%}
        <tr style="text-align: center;">
            <TD>{{i[0]}}</TD>
            <TD>{{i[1]}}</TD>
            <TD>{{i[2]}}</TD>
            <TD><a href="{{url_for('c.cluster_captured',p=i[0])}}" target="_blank">{{i[3]}}</a></TD>
            <TD>{{i[2]-i[3]}}</TD>
            <TD><a href="{{url_for('c.cluster_uncaptured',p=i[0])}}" target="_blank">{{i[1]-i[3]}}</a></TD>
        </tr>
{%endfor%}
{%for i in trw%}
<tr style="text-align: center; font-weight: bolder;">
    <td style="text-align: left;">TOTAL</td>
    <td >{{i[0]}}</td>
    <td >{{i[1]}}</td>
    <td>{{i[2]}}</td>
    <td >{{i[1]-i[2]}}</td>
    <td >{{i[0]-i[2]}}</td>
</tr>
{%endfor%}
    </tbody>

</table>
</div>        
{%endblock%}