{%extends 'home.html'%}
{%block main%}
<H6>PROFILE PAGE</H6>
<ul class="nav justify-content-center bg-secondary navbar-sm">
  
    <li class="nav-item">
      <a class="nav-link text-light" href="{{url_for('profile.profile_entry')}}">Entries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="{{url_for('profile.profile_verification')}}">Verifications</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link text-light" href="#">Types</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link text-light" href="{{url_for('profile.profile_coordinator')}}">Coordinators</a>
    </li>
  </ul>
{%block profile%}
{%endblock%}
{%endblock%}